
.cardsFilter,.cardsFilter__inputContainer,.cardsFilter__inputContainer--dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardsFilter{
    height: 100px;
    width: 90%;
    margin: auto;
    gap: 20px;
}
.cardsFilter__inputContainer{
    width: 50%;
}

.cardsFilter__search{
    height: 30px;
    width: 100%;
    border: 2px solid #e1c970;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.cardsFilter__searchButton{
    height: 30px;
    width: 40px;
    background-color: #e1c970;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.cardsFilter__searchButtonImg{
    transition: all 0.1s ease-in-out;
}
.cardsFilter__searchButtonImg:hover{
    rotate: -15deg;
}
.cardsFilter__dropdownContent {
    display: none;
}

.cardsFilter__dropdownButton{
    background-color: transparent;
    border: none;
}
.cardsFilter__dropdownButtonImg{
    height: 15px;
    margin: 5px 0 0 10px;
    transition: all 0.1s ease-in-out;
}
.cardsFilter__dropdownButtonImg:hover{
    margin: 10px 0 0 10px;
}
.cardsFilter__inputContainer--dropdown{
    background-color: #e1c970;
    width: 30%;
    border-radius: 5px;
}

.cardsFilter__dropdownButton:hover .cardsFilter__dropdownContent {
    display: block;
}

@media (min-width: 1024px) {
    .cardsFilter__inputContainer{
        width: 30%;
    }
    .cardsFilter__search{
        height: 40px;
        width: 70%;
        font-size: 1em;
    }
    .cardsFilter__searchButton{
        height: 40px;
        width: 60px;
    }
    .cardsFilter__searchButtonImg{
        height: 40px;
    }
    .cardsFilter__inputContainer--dropdown{
        width: 10%;
        height: 40px;
    }
    .cardsFilter__dropdownButtonImg{
        height: 20px;
    }
}
