* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Andika', sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    min-height: 100vh;
    color: #353535;
    background-color: #f7fbff;
    overflow-y: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/*landing*/
.hero {
    position: relative;
    min-height: 100vh;
    background-image:/*linear-gradient(0deg, rgb(255, 255, 240) 0%, rgba(0, 0, 0, 0) 15%),*/ url('./img/wp7718232-traveler-genshin-impact-hd-wallpapers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.clouds__img {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.logo__img {
    position: absolute;
}
.buttonContainer {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    height: 100px;
    z-index: 6;
}
.buttonContainer__img {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.buttonContainer__btn {
    position: absolute;
    background-color: white;
    border: 2px solid #d3bf4e;
    border-radius: 100%;
    width: 12.5%;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

}
.buttonContainer__btnImg,.buttonContainer__btnImgArrow{
    rotate: -90deg;
    position: absolute;
    border-radius: 100%;
}
.buttonContainer__btnImg{
    background-color: white;
    z-index:8 ;
    width: 100%;
    transition: all 0.3s ease;
}
.buttonContainer__btnImgArrow{

    left: 50%;
    top: 10%;
    transform: translate(-10%, -50%);
    width: 85%;
    z-index: 7;

}
.buttonContainer__btnImg:hover{
    opacity: 0;
}
/*character section*/
.characterCardsContainer {
    position: relative;
    margin: auto;
    padding-top: 5%;
}

.sectionTitleCharacters {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionTitleCharacters_line {
    width: 100%;
    height: 0;
    border: 2px solid #d3bf4e;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.sectionTitleCharacters_line--izq {
    border-right: 60px solid #d3bf4e;
}

.sectionTitleCharacters_line--der {
    border-left: 60px solid #d3bf4e;
}

.sectionTitleCharacters_title {
    margin: 18px;
    font-size: 2em;
}

/*cards container*/
.cardsContainer {
    position: relative;
    overflow-x: hidden;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: auto;
    padding: 10px 15px;
    justify-content: center;
}
.card {
    position: relative;
    width: 100%;
    max-width: 180px;
    aspect-ratio: 0.75;
    border: 3px solid #e6d579;
    border-radius: 20px;
    background-color: #0000001a;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.card::after {
    background: #fff;
    content: '';
    height: 315px;
    width: 50px;
    left: -125px;
    top: -40px;
    opacity: 0.3;
    position: absolute;
    transform: rotate(33deg);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 10;
    filter: blur(5px);
}

.card:hover::after {
    left: 150%;
    transform: rotate(35deg);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.card__backgroundNation {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%) scale(1.25);
}

.card_name {
    height: 25%;
    font-size: 1.5em;
    z-index: 2;
    line-height: 1;
    padding: 5px 10px;
    text-align: center;
    font-weight: bold;
    text-wrap: balance;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__elementContainer {
    z-index: 2;
    position: absolute;
    height: 50px;
    width: 50px;
    /* TODO: Change color */
    background-color: #f4faff;
    border-top: 3px solid #e6d579;
    border-left: 3px solid #e6d579;
    bottom: 0;
    right: 0;
    border-start-start-radius: 20px;
}

.card__imgContainer {
    z-index: 1;
    width: auto;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 1/1;
}

.card__img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card__starsContainer {
    width: calc(100% - 50px);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.card__star {
    width: 20%;
}

/* TODO: Fix animation to close modal */
.modal {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #ff00009c;
}

.modal__background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000009c;
    z-index: 1;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.modal__background--active {
    opacity: 1;
    height: 100vh;
    width: 100%;
}

.modal__main {
    right: 0;
    position: absolute;
    background-color: #f7fbff;
    z-index: 2;
    width: 0;
    transition: width 0.5s ease-in-out;
}

.modal__main--active {
    height: 100vh;
    width: 100%;
    transition: width 0.5s ease-in-out;
}

.modal__closeButton {
    position: absolute;
    transform: none;
    top: 3%;
    left: 4%;
    z-index: 6;
    border-radius: 100%;
    border: none;
    border: 2px solid #d3bf4e;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: none;
}
.modal__closeButton--active {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__btnImg,.modal__btnImgArrow{
    position: absolute;
    rotate: -45deg;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}
.modal__btnImg{
    z-index: 7;
    background-color: #f0f0f0;
    transition: all 0.2s ease;
}
.modal__btnImgArrow{
    z-index: 6;
}
.modal__btnImg:hover{
    opacity: 0;
}
/*modal content*/
.modal__content {
    height: 100%;
    width: 100%;
}
.modalCharacterCard {
    height: 100%;
    width: 100%;
    position: relative;
    color: white;
    overflow: hidden;
}
.modalBackground {
    position: absolute;
    height: 100%;
    width: 100%;
}
.modalBackground__img {
    height: 100%;
    width: 100%;
    border: 2px solid #d3bf4e;
}
.modalBackground__imgPc {
    display: none;
}
.modalBackground__border {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    border: 3px solid #d3bf4e;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.modalBackground__borderStar0,
.modalBackground__borderStar1,
.modalBackground__borderStar2,
.modalBackground__borderStar3 {
    position: absolute;
    height: 20px;
}

.modalBackground__borderStar1 {
    top: 0;
    right: 0;
}
.modalBackground__borderStar2 {
    bottom: 0;
    left: 0;
}
.modalBackground__borderStar3 {
    bottom: 0;
    right: 0;
}
.modalBackground__filter {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    border: 3px solid #d3bf4e;
    border-radius: 70px;
}
.modalCharacterCard__img {
    width: auto;
    max-width: none;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    z-index: 3;
    filter: drop-shadow(10px 7px 10px black);
}

.modalCharacterCard__nameContainer {
    position: absolute;
    top: 60%;
    left: 8%;
    z-index: 4;
}
.modalCharacterCard__name {
    font-size: 1.6em;
    font-weight: bold;
}
.modalCharacterCard_star {
    height: 25px;
}
.modalCharacterCard__description {
    max-width: 80%;
    background-color: rgba(113, 112, 112, 0.614);
    backdrop-filter: blur(1.5px);
    position: absolute;
    bottom: 40px;
    left: 10px;
    font-size: 1em;
    z-index: 4;
    border-radius: 10px;
    padding: 10px;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
    .modal__main--active {
        width: 90%;
    }
    .modal__closeButton {
        top: 10%;
        left: 0;
        transform: translateX(-50%) rotate(45deg) scale(1.5);
    }
    .sectionTitleCharacters_title {
        margin: 50px;
        font-size: 2.5em;
    }
    .sectionTitleCharacters_line {
        width: 100%;
    }
    .sectionTitleCharacters_line--izq {
        border-right: 250px solid #d3bf4e;
    }
    .sectionTitleCharacters_line--der {
        border-left: 250px solid #d3bf4e;
    }
    .buttonContainer {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        height: 100px;
        z-index: 6;
    }
    .modalBackground__img {
        display: none;
    }
    .modalCharacterCard__nameContainer {
        top: 20%;
        left: 30%;
    }
    .modalCharacterCard__description {
        max-width: 30%;
        bottom: 25%;
        left: 53%;
    }
    .modalBackground__imgPc {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
