* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Andika', sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    min-height: 100vh;
    height: auto;
    color: #353535;
    background-color: #f7fbff;
    padding-bottom: 60px;
    cursor: url('./img/cursor_paimon2.png'), auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


/* aside header */
.header {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #dfdfdf;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./img/fondoFloresHorizontal.jpg);
    background-position: bottom;
    background-size: fill;
    background-repeat: no-repeat;
}

.header__logo {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    overflow: unset;
}

.header__img {
    overflow: unset;
    width: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: contain;
    object-position: bottom center;

}

.header__title {
    text-align: center;
    color: white;
    font-size: xx-small;
}

.nav {
    width: 75%;
    height: 100%;
}

.nav__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.nav__item {
    position: relative;
    width: 33%;
    height: 100%;
}
.nav__link::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    bottom: 15px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.nav__link:hover::after {
    transform: scaleX(1);
}
.nav__linkIconImg {
    display: none;
}
.nav__link {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

/*landing*/
.main {
    scroll-behavior: smooth;
    width: 100%;
    min-height: 100vh;
}

.hero {
    position: relative;
    height: calc(100vh - 60px);
    background-image: url('./img/wp7718232-traveler-genshin-impact-hd-wallpapers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 17.5% 0;
}
.hero_embImg {
    position: absolute;
    height: 150px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 1px #00000068);    
}
.hero_logoImg {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero__linea {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    border: none;
    height: 8px;
    background-image: url('./img/linea_borde.png');
    background-size: cover;
}
.hero__clouds {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: -2px;
    left: 0;
}

.buttonContainer {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    height: 100px;
    z-index: 6;
    
}

.buttonContainer__img {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttonContainer__btn {
    position: absolute;
    background-color: white;
    border: 2px solid #d3bf4e;
    border-radius: 100%;
    width: 12.5%;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer__btnImg,
.buttonContainer__btnImgArrow {
    rotate: -90deg;
    position: absolute;
    border-radius: 100%;
}

.buttonContainer__btnImg {
    background-color: white;
    z-index: 8;
    width: 100%;
    transition: all 0.3s ease;
}

.buttonContainer__btnImgArrow {
    left: 50%;
    top: 10%;
    transform: translate(-10%, -50%);
    width: 85%;
    z-index: 7;
}

.buttonContainer__btnImg:hover {
    opacity: 0;
}

/*character section*/
.characterCardsContainer {
    position: relative;
    margin: auto;
    max-width: 100%;
    overflow: hidden;
    min-height: 100vh;
}

.sectionTitleCharacters {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionTitleCharacters__line {
    width: 100%;
    height: 0;
    border: 2px solid #d3bf4e;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.sectionTitleCharacters__line--izq {
    border-right: 60px solid #d3bf4e;
}

.sectionTitleCharacters__line--der {
    border-left: 60px solid #d3bf4e;
}

.sectionTitleCharacters__title {
    margin: 18px;
    font-size: 2rem;
}
.footer {
    width: 100%;
    height: auto;
    padding: 40px 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    height: 180px;
    z-index: 100;
    padding: 0 5px 10px;
    text-wrap: balance;
    font-size: .6rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("./img/fondoFloresHorizontal.jpg");
    background-position: center 87.84%;
    background-size: fill;
    background-repeat: no-repeat;
}
.netContainer {
    width: 100%;
    height: 70%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    padding-top: 10%;
    gap: 15px;
}
.netImg {
    aspect-ratio: 1/1;
    height: 50px;
    margin: auto;
    transition: all 0.2s ease;
}
.netImg:hover {
    margin-bottom: 5px;
    transform: rotate(10deg);
    filter: invert(50%);
    cursor: pointer;
}
.footer__copy {
    height: 25%;
    text-align: center;
    color: white;
    font-size: 0.8em;
    padding-top: 5%;
}
@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
    body {
        padding-bottom: 80px;
    }
    .header {
        height: 80px;
    }
    .nav__item {
        display: flex;
    }
    .nav__linkIconImg {
        display: none;
    }
    .nav__link {
        font-size: 1rem;
    }
    .hero {
        height: calc(100vh - 80px);
    }
    .modal {
        width: 100vw;
    }
    .modalCharacter__backgroundFilter {
        background-color: transparent;
        backdrop-filter: blur(2px);
    }
    .modalCharacter__backgroundImg {
        display: none;
    }
    .modalCharacter__backgroundImg--nation {
        z-index: 1;
        display: block;
    }
    .modalCharacter__img {
        width: 85%;
        height: auto;
        min-height: 90%;
        max-height: 155%;
        top: 10%;
        left: 15%;
        transform: none;
    }
    .modalCharacter__icon {
        max-width: 30%;
        backdrop-filter: blur(4.5px);
    }
    .modalCharacter__icon--hidden {
        display: block;
        bottom: 50%;
        top: auto;
        left: 10%;
        width: 10%;
    }
    .modalCharacter__selectorImg {
        display: none;
    }
    .modalCharacter__descriptionContainer {
        padding: 5px;
        bottom: auto;
    }
    .modalCharacter__properties {
        line-height: 1.25;
    }
    .cardsContainer {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        padding: 30px;
        gap: 30px;
    }
    .card_name {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 20px;
    }
    body {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 0;
        height: 100vh;
    }
    .main {
        overflow: auto;
        height: 100%;
    }
    .header {
        position: relative;
        height: 100vh;
        width: 30%;
        max-width: 220px;
        padding: 8px;
        flex-flow: column nowrap;
        justify-content: space-around;
    }
    .header__logo {
        width: 100%;
        height: auto;
        padding: 0;
        margin-top: 15%;
    }
    .header::after {
        content: '';
        width: 100%;
        min-height: 180px; /* TODO: Change height (footer height) */
    }
    .footer {
        position: fixed;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
        bottom: 0;
        left: 0;
        width: 220px;
        height: 180px;
        z-index: 100;
        padding: 0 5px 10px;
        text-wrap: balance;
        font-size: .6rem;
        background: none;
    }
    .footer__linea {
        width: 90%;
        border-image-slice: 27 50 27 51;
        border-image-width: 0 20px 20px 20px;
        border-image-source: url(./img/linea_borde.png);
        border-width: 1px;
        height: 1.5rem;
    }
    
    .nav {
        width: 100%;
    }
    .nav__list {
        justify-content: center;
        flex-flow: column nowrap;
    }
    .nav__item {
        width: 90%;
        padding: 30px 0;
        height: min-content;
    }
    .nav__linkIconImg {
        display: block;
        height: 45px;
    }
    .nav__link {
        font-size: 1.25rem;
        text-align: left;
        padding-left: 10px;
    }
    .hero {
        height: 100vh;
        background-position: 0;
    }
    .hero__title {
        top: 30%;
        font-size: 3em;
    }
    .modal__main--active {
        width: 90%;
    }
    .modal__closeButton {
        top: 10%;
        left: 0;
        transform: translateX(-50%) rotate(45deg) scale(1.5);
    }
    .sectionTitleCharacters__title {
        margin: 50px;
        font-size: 2.5rem;
    }
    .sectionTitleCharacters__line {
        width: 100%;
    }
    .sectionTitleCharacters__line--izq {
        border-right: 250px solid #d3bf4e;
    }
    .sectionTitleCharacters__line--der {
        border-left: 250px solid #d3bf4e;
    }
    .buttonContainer {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        height: 100px;
        z-index: 6;
    }
    .modalCharacter__img {
        left: 42.5%;
        top: 60%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 120%;
    }

    .modalCharacter__icon {
        position: fixed;
        width: 30%;
        max-width: 275px;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        z-index: 7;
    }
    .modalCharacter__icon--hidden {
        width: 10%;
        bottom: 70%;
        left: 10%;
        transform: none;
    }
    .modalCharacter__nameContainer {
        top: 30%;
        left: 10%;
        right: auto;
        width: max-content;
        max-width: 320px;
    }
    .modalCharacter__name {
        font-size: 2rem;
    }
    .modalCharacter__title {
        font-size: 1.35rem;
    }
    .modalCharacter__star {
        height: 35px;
    }
    .modalCharacter__descriptionContainer {
        overflow: hidden;
        top: 50%;
        transform: translateY(-50%);
        right: 45px;
        left: auto;
        padding: 5px;
        max-width: 33%;
        height: min-content;
        max-height: 100%;
        transition: none;
        z-index: 4;
    }
    .modalCharacter__descriptionContainer:hover {
        height: min-content;
    }
    .modalCharacter__descriptionContainer::after {
        display: none;
    }

    .modalCharacter__properties {
        padding: 0;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        height: 100%;
        overflow: initial;
        margin: auto;
        opacity: 1;
    }
    .cardsContainer {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 35px;
        padding: 35px;
    }
    .card {
        aspect-ratio: 0.7;
    }
    .header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/fondoFlores.jpg);
        background-size: cover;
    }
}
